# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log
*.sqlite3
.env
.env.local

# Docker
*.pid
docker-compose.override.yml

# Virtualenv
venv/
.venv/

# pytest
.coverage
.pytest_cache/

# Custom files
*.pdf

# VS Code
.vscode/